<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>No Outage Database Development with Spring Boot and Liquibase</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/multiple-emails.css" />
    <link rel="stylesheet" href="css/demo.css" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/multiple-emails.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#input_emails').multiple_emails();
            $('#current_emails').text($('#input_emails').val());
            $('#input_emails').change( function(){
                $('#current_emails').text($(this).val());
            });
        });
    </script>
</head>
<body class="springOneDemo">
<div class="springOneHeader">
    <img src="image/SpringOne-Icon.png" />
    <span>No Outage Database Development </span>
    <sup class="version" th:text="'(' + ${version} + ')'"></sup>
</div>
<div class="springOneForm">
    <form action="#" th:action="@{/demoPage}" th:object="${userInfoDTO}" method="post" novalidate="true">
        <fieldset>
            <legend>Add User:</legend>
            <div class="clear spc5">
                <div th:class="${#fields.hasErrors('firstName')}? 'lft chr hasError' : 'lft chr hidden'">*</div>
                <div class="lft lbl">First Name: </div>
                <input class="lft" type="text" th:field="*{firstName}"/>
            </div>
            <div class="clear spc5">
                <div th:class="${#fields.hasErrors('lastName')}? 'lft chr hasError' : 'lft chr hidden'">*</div>
                <div class="lft lbl">Last Name: </div>
                <input class="lft" type="text" th:field="*{lastName}"/>
            </div>
            <div class="clear spc5">
                <div class="lft">
                    <div th:class="${#fields.hasErrors('emailAddresses')}? 'lft chr hasError' : 'lft chr hidden'">*</div>
                    <div class="lft lbl">Email Address: </div>
                    <pre id='current_emails' th:hidden="true"></pre>
                </div>
                <div>
                    <input type="text" id="input_emails" th:field="*{emailAddresses}"/>
                </div>
            </div>

            <div class="clear spc5">
                <input class="submitBtn" type="submit" value="Submit" />
            </div>
        </fieldset>
    </form>
</div>
<div class="springOneTable">
    <fieldset>
        <legend>Users:</legend>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
            <tr th:each="userInfoDTO : ${userInfoDTOList}">
                <td th:text="${userInfoDTO.userName}"></td>
                <td th:text="${#strings.replace(#strings.replace(userInfoDTO.emailAddresses,'[',''),']','')}"></td>
            </tr>
        </table>
    </fieldset>
</div>
</body>
</html>